* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Dancing script";
}

header{
  font-family: "Dancing script" !important;
  background-image: linear-gradient(to right, rgb(97, 97, 212), rgb(177, 197, 197));
  color: white;
  font-style: italic;
  font-weight: bold;
}

header h1 {
  padding-left: 1.5em;
  font-family: 'Rubik', sans-serif;
}

.pl-5em{
  padding-left: 5em;
}

.foto-perfil{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 10px;
}

.columna{
  border: 1px solid green;
}

/* media query */
@media screen and (max-width: 320px) {
  .row div h3{
    
  }
  .pl-5em{
    font-size: 0.7;
    color: red;
  }
}

@media screen and (max-width: 575px) {
  .foto-perfil{
    width: 150px;
    height: 150px;
  }
  .columna{
    text-align: center;
  }
  .contacto{
    text-align: left;
  }
  .pl-5em{
    text-align: left;
  }
}


@media screen and (max-width: 666px) {
  .pl-5em{
    padding-left: 2em;
  }
  .pl-5em p{
    font-size: 0.9rem;
  }
  .contacto{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  .pl-5em{
    padding-left: 4.5em;
  }
}
/* .navbar{
  background-image: linear-gradient(to right, rgb(62, 62, 202), rgb(216, 240, 240));
  border: 0.1em solid white;
  position: sticky;
} */

/* img {
  max-width: 100%;
  height: auto;
} */


/* header .redes {
  width: 25px;
  padding-top: 5em;
} */

/* contacto {
  color: rgb(12, 99, 84);
} */

.subrayado-double {
  text-decoration: underline;
  text-decoration-style: double;
}

/* .redes:hover{
  filter: invert(15%);
} */

/* .facebook:hover {
  border-bottom: 5px solid rgb(24, 119, 242);
} */

/* .instagram:hover {
  border-bottom: 5px solid rgb(254, 143, 88);
} */

/* .twitter:hover {
  border-bottom: 5px solid rgb(3, 169, 244);
} */

/* .linkedin:hover {
  border-bottom: 5px solid rgb(0, 122, 185);
} */

/* .whatsapp:hover {
  border-bottom: 5px solid rgb(43, 168, 28);
} */

footer {
  background-color: rgb(155, 216, 216);
  align-items: center;
  align-content: center;
  text-align: center;
}

