*{
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Dancing script";
}
img{
  max-width: 100%;
  height: auto;
}
header{
  position: relative;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, rgb(62, 62, 202),rgb(216, 240, 240));
  color: white;
  justify-content: space-between;
  font-style: italic;
  font-weight: bold;
  padding-right: 3em;
}
header #foto-perfil{
  border-radius: 10em;
  padding: 1em;
  width: 10%;
}
header h1{
  padding-left: 1.5em;
  font-family: 'Rubik', sans-serif;
}
header .redes{
  width: 25px;
  padding-top: 5em;
}
contacto{
  padding-left: 15em;
  color: rgb(12, 99, 84);
}
.subrayado{
  text-decoration: underline;
}
.subrayado-double{
  text-decoration:underline;
  text-decoration-style: double;
}
.pl-5em{
  padding-left: 5em;
}
.facebook:hover{
  border-bottom: 5px solid rgb(24, 119, 242);
}
.instagram:hover{
  border-bottom: 5px solid rgb(254, 143, 88);
}
.twitter:hover{
  border-bottom: 5px solid rgb(3, 169, 244);
}
.linkedin:hover{
  border-bottom: 5px solid rgb(0, 122, 185);
}
.whatsapp:hover{
  border-bottom: 5px solid rgb(43, 168, 28);
}
footer{
  
  background-color: rgb(81, 136, 136);
  align-items: center;
  align-content: center;  
  text-align: center;
}

@media screen and(max-width:400px){
  header #foto-perfil{
    width: 20%;
  }
}